<div class="flex flex-col md:flex-row md:items-center justify-between gap-4 mb-8">
  <div>
    <h1 class="text-3xl font-bold">Gestión de Roles</h1>
    <h2 class="text-gray-400">Administra los roles disponibles para asignar a los usuarios.</h2>
  </div>
  <button class="btn btn-primary shadow-lg" (click)="addRole()">
    <span class="icon-[ic--baseline-plus] mr-2"></span>
    Nuevo Rol
  </button>
</div>

<app-search-bar (queryChanged)="query.set($event)" (clear)="query.set('')" />

<div class="overflow-x-auto rounded-xl overflow-hidden shadow-xl">
  @if (roleResource.hasValue()) {
    <table class="table w-full">
      <!-- head -->
      <thead class="bg-base-300">
        <tr>
          <th>ID</th>
          <th>Nombre del Rol</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (role of roleResource.value(); track role.name) {
          <tr class="hover:bg-neutral-content hover:text-neutral transition-colors">
            <td>
              <div class="font-mono text-sm">{{ role.id }}</div>
            </td>
            <td>
              <div class="font-bold badge badge-lg badge-primary">
                <span class="icon-[eos-icons--role-binding]"></span>
                {{ role.name }}
              </div>
            </td>
            <td>
              <div class="flex justify-center gap-2">
                <button
                  class="btn btn-square btn-sm btn-ghost hover:border-warning-content hover:bg-warning-content hover:text-warning"
                  (click)="editRole(role)"
                >
                  <span
                    class="icon-[boxicons--edit-filled]"
                    style="width: 24px; height: 24px"
                  ></span>
                </button>
                <button
                  class="btn btn-square btn-sm btn-ghost hover:border-error-content hover:bg-error-content hover:text-error"
                  (click)="deleteRole(role)"
                >
                  <span class="icon-[boxicons--trash]" style="width: 24px; height: 24px"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else if (roleResource.isLoading()) {
    <div class="p-6 flex justify-center">
      <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>
  } @else {
    <div class="p-6 flex justify-center">
      <p>
        Ocurrio un <strong class="text-error">error</strong> con los datos de roles. Por favor
        reinicie la página
      </p>
    </div>
  }
</div>

@if (roleResource.hasValue()) {
  <role-crud-modal
    [role]="selectedRole()"
    [type]="modalType()"
    [open]="openModal()"
    (closed)="openModal.set(false)"
    (confirmAction)="handleCrudAction($event)"
  />

  <app-pagination
    [inputPage]="page()"
    [entityMeta]="roleMeta()"
    (currentPage)="pageChangedTo($event)"
  />
}
