<app-navbar (menuClicked)="showMenu()" (accountClicked)="showAccount()" />
<mat-sidenav-container class="page">
  <mat-sidenav
    mode="over"
    position="start"
    [(opened)]="menuSideBarActive"
    class="sidebar"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav
    mode="over"
    position="end"
    [(opened)]="accountSideBarActive"
    class="sidebar"
    ><app-user
  /></mat-sidenav>
  <section>
    <div class="main-content" id="main-content">
      <router-outlet></router-outlet>
    </div>
  </section>
</mat-sidenav-container>
