
DB_NAME=okiDSW
DB_PASSWORD=dsw
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=dsw

# Mailer configuration
SMTP_HOST='smtp.gmail.com'
SMTP_PORT= 587
SMTP_USER='...'
SMTP_PASS='...'
MAIL_FROM="Gestion Torneos <yourMail@here.com>"

IGDB_CLIENT_ID = '...'
IGDB_ACCESS_TOKEN = '...'
DEFAULT_SALT_ROUNDS = 10

JWT_SECRET = "..."