
DB_NAME=okiDSW
DB_PASSWORD=dsw
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=dsw

# Set to 'true' in production (HTTPS), 'false' in development (HTTP)
JWT_COOKIE_SECURE=false

IGDB_CLIENT_ID = '...'
IGDB_ACCESS_TOKEN = '...'
DEFAULT_SALT_ROUNDS = 10

JWT_SECRET = "..."