<div mat-dialog-title>
  <h2>{{ type }} Localización:</h2>
</div>
<div mat-dialog-content>
  <form [formGroup]="locationForm">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </form>

  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!locationForm.valid"
      (click)="saveChanges()"
    >
      <mat-icon fontIcon="save"></mat-icon> Guardar Cambios
    </button>
    <button mat-fab color="accent" (click)="initializeForms()">
      <mat-icon fontIcon="refresh"></mat-icon>
    </button>
  </div>
</div>
