<mat-card>
    <mat-card-header>
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input
          matInput
          (keyup)="filterChanges($event)"
          placeholder="'Classic Fighter'"
        />
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <table
        matSort
        mat-table
        [dataSource]="dataSource"
        class=""
        mat-elevation-z8
      >
        <ng-container matColumnDef="id">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let game">{{ game.id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let game">{{ game.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="cant torneos">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Cant torneos</th>
          <td mat-cell *matCellDef="let game">{{ game.cant_torneos }}</td>
        </ng-container>
  
        <ng-container matColumnDef="tags">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Tags</th>
          <td mat-cell *matCellDef="let game">
            {{ game.tags.join(", ") }}
          </td>
        </ng-container>

        <ng-container matColumnDef="game types">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Game Types</th>
            <td mat-cell *matCellDef="let game">
              {{ game.gametypes.join(", ") }}
            </td>
          </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let game">
            <button mat-raised-button color="accent" (click)="edit(game)">
              Editar
            </button>
            <button mat-raised-button color="warn" (click)="delete(game)">
              Eliminar
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: tableHeaders"></tr>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
  </mat-card>
  