<div class="logo">
  <img src="assets/ten.png" alt="logo" class="logo-img" />
</div>
<ul class="menuList">
  <li>
    <a href="#">
      <mat-icon fontIcon="grid_view"></mat-icon>
      <span class="nav-item">Dashboard</span>
    </a>
  </li>
  <li>
    <a href="#">
      <mat-icon fontIcon="emoji_events"></mat-icon>
      <span class="nav-item">Mis Torneos</span>
    </a>
  </li>
  <li>
    <a routerLink="searchTournament">
      <mat-icon fontIcon="explore"></mat-icon>
      <span class="nav-item">Buscar Torneos</span>
    </a>
  </li>
  <li>
    <a routerLink="createTournament">
      <mat-icon fontIcon="add_circle"></mat-icon>
      <span class="nav-item">Crear Torneo</span>
    </a>
  </li>
  <li>
    <a href="#" id="unlog">
      <mat-icon fontIcon="logout"></mat-icon>
      <span class="nav-item">Desloguearse</span>
    </a>
  </li>
</ul>
