<!-- TODO: Button that switches between all the possibles CRUD -->

<fieldset class="multiswitch">
  <legend>¿What CRUD would you like to use?</legend>
  <form [formGroup]="crudForm">
    <mat-button-toggle-group
      name="CRUDType"
      aria-label="CRUD Type"
      formControlName="crudType"
    >
      <mat-button-toggle value="GameTypes">Game Types</mat-button-toggle>
      <mat-button-toggle value="Games">Games</mat-button-toggle>
      <mat-button-toggle value="Tags">Tags</mat-button-toggle>
      <mat-button-toggle value="Users">Users</mat-button-toggle>
      <mat-button-toggle value="Locations">Locations</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="loadCRUD">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="loadCrud()"
      >
        Load
      </button>
    </div>
  </form>
</fieldset>

<router-outlet></router-outlet>
