<div class="max-w-2xl mx-auto">
  @if (userResource.isLoading()) {
    <div class="flex justify-center py-8">
      <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>
  } @else if (userResource.hasValue()) {
    <div class="card bg-base-200 shadow-xl">
      <!-- Header con avatar real y edición -->
      <div class="card-body items-center text-center">
        <div class="relative w-36 h-36 mb-2">
          <div
            (click)="avatarModal.showModal()"
            class="peer absolute top-2 right-2 bg-primary rounded-full p-2 shadow-md z-20 transition-transform duration-300 hover:scale-110 cursor-pointer border-2 border-base-200"
          >
            <span class="icon-[material-symbols--edit] size-5 text-white block"></span>
          </div>
          <img
            [src]="getAvatarPath(userResource.value()?.avatarId)"
            alt="Profile"
            class="rounded-full w-36 h-36 object-cover transition-all duration-300 z-10 peer-hover:brightness-75 shadow-lg border-4 border-primary/20"
          />
        </div>
        <div class="relative">
          <div
            (click)="canChangeName() && nameModal.showModal()"
            class="peer absolute -top-3 -right-6 bg-primary rounded-full p-1 z-20 cursor-pointer border-3 border-base-200"
            [class.opacity-50]="!canChangeName()"
            [class.cursor-not-allowed]="!canChangeName()"
            [class.cursor-pointer]="canChangeName()"
          >
            <span class="icon-[material-symbols--edit] size-4 text-white block"></span>
          </div>
          <h2 class="card-title text-2xl">{{ userResource.value()!.name }}</h2>
        </div>
        <p class="text-base-content/60 font-mono">{{ userResource.value()!.mail }}</p>
      </div>
      <!-- Tabla de información (de HEAD) -->
      <div class="card-body pt-0">
        <div class="overflow-x-auto">
          <table class="table">
            <tbody>
              <tr>
                <td class="font-semibold">ID</td>
                <td>{{ userResource.value()!.id }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Ubicación</td>
                <td>
                  <span class="badge badge-info font-bold">
                    <span class="icon-[mdi--location] mr-1"></span>
                    {{ userResource.value()!.location.name }}
                  </span>
                </td>
              </tr>
              <tr>
                <td class="font-semibold">Rol</td>
                <td>
                  <span class="badge badge-primary">
                    {{ userResource.value()!.role.name }}
                  </span>
                </td>
              </tr>
              <tr>
                <td class="font-semibold">Inscripciones</td>
                <td>
                  <span class="badge badge-secondary">
                    {{ userResource.value()!.inscriptions?.length || 0 }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Actions -->
      <div class="card-body">
        <div class="card-actions justify-between mt-4 items-center">
          <div class="cosmetics flex gap-2 items-center">
            <div class="dropdown locale">
              <div tabindex="0" role="button" class="btn border-white">
                <span class="icon-[material-symbols--globe] size-5 text-white block"> </span
                >{{ getLocale() }}
                <svg
                  width="12px"
                  height="12px"
                  class="inline-block h-2 w-2 fill-current opacity-60"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 2048 2048"
                >
                  <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                </svg>
              </div>
              <ul
                tabindex="-1"
                class="dropdown-content bg-base-300 rounded-box z-1 w-25 p-2 shadow-2xl"
              >
                <li>
                  <button
                    #locale1
                    name="locale-dropdown"
                    class="w-full btn btn-sm btn-block btn-ghost justify-start"
                    value="es"
                    (click)="changeLocale(locale1.value)"
                  >
                    Español
                  </button>
                </li>
                <li>
                  <button
                    #locale2
                    name="locale-dropdown"
                    class="w-full btn btn-sm btn-block btn-ghost justify-start"
                    value="en"
                    (click)="changeLocale(locale2.value)"
                  >
                    English
                  </button>
                </li>
                <li>
                  <button
                    #locale3
                    name="locale-dropdown"
                    class="w-full btn btn-sm btn-block btn-ghost justify-start"
                    value="br"
                    (click)="changeLocale(locale3.value)"
                  >
                    Português
                  </button>
                </li>
              </ul>
            </div>
            <div class="dropdown theme">
              <div tabindex="0" role="button" class="btn border-white">
                Tema
                <svg
                  width="12px"
                  height="12px"
                  class="inline-block h-2 w-2 fill-current opacity-60"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 2048 2048"
                >
                  <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                </svg>
              </div>
              <ul
                tabindex="-1"
                class="dropdown-content bg-base-300 rounded-box z-1 w-22 p-2 shadow-2xl"
              >
                <li>
                  <input
                    type="radio"
                    #theme1
                    name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                    aria-label="Crimson"
                    value="crimsoncore"
                    (click)="changeTheme(theme1.value)"
                    [checked]="themeService.currentTheme() === 'crimsoncore'"
                  />
                </li>
                <li>
                  <input
                    type="radio"
                    #theme2
                    name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                    aria-label="Cupcake"
                    value="cupcake"
                    (click)="changeTheme(theme2.value)"
                    [checked]="themeService.currentTheme() === 'cupcake'"
                  />
                </li>
                <li>
                  <input
                    type="radio"
                    #theme3
                    name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                    aria-label="business"
                    value="business"
                    (click)="changeTheme(theme3.value)"
                    [checked]="themeService.currentTheme() === 'business'"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="flex gap-2">
            <button
              class="btn btn-ghost border-info hover:btn-info tooltip tooltip-bottom"
              (click)="sendInvitation()"
              data-tip="Se enviara un email para reestablecer la contraseña"
            >
              <span class="icon-[mdi--password-check] mr-2"></span>
              Cambiar contraseña
            </button>
            <button
              class="btn btn-ghost border-error hover:btn-error"
              (click)="logout()"
              routerLink="/auth/login"
            >
              <span class="icon-[mdi--logout] mr-2"></span>
              Cerrar sesión
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modales para edición -->
    <dialog #avatarModal class="modal modal-bottom sm:modal-middle">
      <div class="modal-box bg-base-200 border border-base-300">
        <h3 class="font-bold text-lg mb-6 text-center">Elegí tu Avatar</h3>
        <div class="grid grid-cols-3 gap-6 max-h-96 overflow-y-auto p-2">
          @for (avatar of availableAvatars; track avatar.id) {
            <div class="flex flex-col items-center gap-2">
              <button
                (click)="updateAvatar(avatar.id)"
                class="avatar cursor-pointer transition-all duration-200 hover:scale-110 group"
              >
                <div
                  class="w-20 rounded-full ring-primary ring-offset-base-100 group-hover:ring-2 ring-offset-2 border border-base-300"
                >
                  <img [src]="getAvatarPath(avatar.id)" [alt]="avatar.label" />
                </div>
              </button>
              <span class="text-xs opacity-70 font-medium">{{ avatar.label }}</span>
            </div>
          }
        </div>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            <button class="btn btn-ghost">Cerrar</button>
          </form>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop"><button>close</button></form>
    </dialog>
    <dialog #nameModal class="modal modal-bottom sm:modal-middle">
      <div class="modal-box bg-base-50 border border-base-50">
        <h3 class="font-bold text-lg mb-6 text-center">Cambia tu nombre de usuario</h3>
        <p class="py-5">Recuerda que no podrás volver a cambiarlo por 3 meses</p>
        <label class="input validator input-lg w-full">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </g>
          </svg>
          <input
            type="text"
            #nameInput
            required
            placeholder="Username"
            pattern="[A-Za-z][A-Za-z0-9\-]*"
            minlength="1"
            maxlength="15"
            title="Only letters, numbers or dash"
          />
        </label>
        <p class="validator-hint">Debe tener al menos entre 1 y 15 caracteres</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            <button class="btn btn-ghost">Cerrar</button>
          </form>
          <button (click)="updateUsername(nameInput.value)" class="btn btn-primary">
            Confirmar
          </button>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop"><button>close</button></form>
    </dialog>
  }
</div>
