@if (inscriptionResource.value()?.length === 0) {
  <!-- Notificaciones rápidas -->
  <div class="flex justify-center">
    <div
      class="alert bg-indigo-900/20 border border-indigo-500/30 text-indigo-200 text-sm inline-flex"
    >
      <span class="icon-[mdi--edit-outline]" style="width: 24px; height: 24px"></span>
      <span>Aún no hay participantes inscriptos en este torneo. Sé el primero!</span>
    </div>
  </div>
} @else {
  <div class="bg-gray-800 rounded-2xl border border-gray-700 overflow-auto shadow-xl">
    <table class="table w-full">
      <thead class="bg-gray-700/30 text-gray-400 border-b border-gray-700">
        <tr>
          <th class="w-16">#</th>
          <th>Nickname</th>
          <th>Nombre</th>
          <th>Fecha Registro</th>
          <th class="text-right">Ranking</th>
        </tr>
      </thead>
      <tbody class="text-gray-300">
        @for (inscription of inscriptionResource.value(); track inscription.id; let $i = $index) {
          <tr class="hover:bg-gray-700/20 border-gray-700">
            <th class="text-indigo-400 font-black">{{ $i + 1 }}</th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar placeholder">
                  <div
                    class="flex items-center justify-center bg-indigo-500 text-white rounded-full w-8"
                  >
                    {{
                      inscription.user?.name ? inscription.user!.name!.charAt(0).toUpperCase() : '?'
                    }}
                  </div>
                </div>
                <span class="font-bold">{{ inscription.nickname }}</span>
              </div>
            </td>
            <td>
              <span class="text-gray-500">{{ inscription.user!.name }}</span>
            </td>
            <td class="text-xs text-gray-500">
              {{ inscription.inscriptionDate | date: 'medium' }}
            </td>
            <td class="text-right font-mono">{{ inscription.points }}</td>
          </tr>
        }
      </tbody>
    </table>
    <!-- <div class="p-4 text-center border-t border-gray-700">
    <button class="btn btn-ghost btn-sm text-indigo-400">
      Ver todos los inscriptos ({{ inscriptionResource.value()?.length || 0 }})
    </button>
  </div> -->

    <div class="py-2">
      <app-pagination
        [inputPage]="page()"
        [entityMeta]="inscriptionsMeta()"
        (currentPage)="pageChangedTo($event)"
      />
    </div>
  </div>
}
