<mat-card>
  <mat-card-header>
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input
        matInput
        (keyup)="filterChanges($event)"
        placeholder="'Torneo Melty UTNFGC'"
      />
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <table
      matSort
      mat-table
      [dataSource]="dataSource"
      class=""
      mat-elevation-z8
    >
      <ng-container matColumnDef="id">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let inscription">{{ inscription.id }}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let inscription">
          {{ formatUser(inscription.user) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tournament">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          Nickname del torneo
        </th>
        <td mat-cell *matCellDef="let inscription">
          {{ inscription.nickname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tournament">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Torneo</th>
        <td mat-cell *matCellDef="let inscription">
          {{ formatTournament(inscription.tournament) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="victories">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          Victorias en el torneo
        </th>
        <td mat-cell *matCellDef="let inscription">
          {{ inscription.victories }}
        </td>
      </ng-container>

      <ng-container matColumnDef="loses">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          Derrotas en el torneo
        </th>
        <td mat-cell *matCellDef="let inscription">
          {{ inscription.loses }}
        </td>
      </ng-container>

      <ng-container matColumnDef="inscriptiondate">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          Fecha de Inscripción
        </th>
        <td mat-cell *matCellDef="let inscription">
          {{ inscription.inscriptionDate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let inscription" class="table-actions">
          <button mat-raised-button color="accent" (click)="edit(inscription)">
            Editar
          </button>
          <button mat-raised-button color="warn" (click)="delete(inscription)">
            Eliminar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
      <tr mat-row *matRowDef="let row; columns: tableHeaders"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <button mat-raised-button color="primary" class="add-btn" (click)="add()">
      <mat-icon fontIcon="add"></mat-icon>
      Crear
    </button>
  </mat-card-footer>
</mat-card>
