.navbar {
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-logo h1 {
  font-size: 2.5rem;
  font-family: "Satisfy", cursive;
}

.icon {
  padding: 0.5rem;
  border-radius: 30%;
  outline: solid white;
  cursor: pointer;

  transition: 0.5s ease;
}

.icon:hover {
  padding: 0.5rem;
  border-radius: 30%;
  outline: solid var(--main-color);
  color: var(--main-color);
  background-color: white;

  transition: 0.5s ease;
}
