<div class="drawer lg:drawer-open">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />

  <!-- CONTENT -->
  <div class="drawer-content flex flex-col min-h-screen">
    <!-- Navbar -->
    <nav class="navbar w-full bg-base-300 sticky top-0 z-10">
      <label
        for="my-drawer-4"
        aria-label="open sidebar"
        class="btn btn-square btn-ghost"
        (click)="toggleSidebar()"
      >
        <span
          id="sidebar-toggle"
          class="icon-[weui--arrow-filled] my-1.5 inline-block size-6"
          [class.toggled]="isSidebarToggled()"
        ></span>
      </label>
      <div class="px-4">
        <button
          id="navbar-title"
          class="hover:cursor-pointer hover:text-primary rounded-lg px-5 transition-colors duration-300"
          [routerLink]="'/explore'"
        >
          Okizeme
        </button>
      </div>
    </nav>

    <!-- Page content -->
    <main class="flex-1 p-4">
      <router-outlet />
    </main>

    <app-footer />
  </div>

  <!-- SIDEBAR -->
  <div class="drawer-side is-drawer-close:overflow-visible">
    <label for="my-drawer-4" class="drawer-overlay"></label>

    <div class="flex flex-col h-full bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
      <div class="flex flex-col h-full w-full">
        <!-- Main buttons (user & admin) -->
        <ul class="menu w-full pb-0">
          @for (button of sidebarButtons(); track button.name) {
            <li>
              <button
                class="is-drawer-close:tooltip is-drawer-close:tooltip-right h-10"
                [attr.data-tip]="button.name"
                [routerLink]="button.routerPath"
                routerLinkActive="bg-primary text-primary-content font-bold"
              >
                <span class="{{ button.icon }} my-1.5 inline-block size-4"></span>
                <span class="is-drawer-close:hidden">{{ button.name }}</span>
              </button>
            </li>
          }

          <hr class="opacity-75 my-2" />

          @if (isAdmin()) {
            @for (adminButton of adminSidebarButtons(); track adminButton.name) {
              <li>
                <button
                  class="is-drawer-close:tooltip is-drawer-close:tooltip-right h-10"
                  [attr.data-tip]="adminButton.name"
                  [routerLink]="adminButton.routerPath"
                  routerLinkActive="bg-primary text-primary-content font-bold"
                >
                  <span class="{{ adminButton.icon }} my-1.5 inline-block size-4"></span>
                  <span class="is-drawer-close:hidden">{{ adminButton.name }}</span>
                </button>
              </li>
            }
            <hr class="opacity-75 my-2" />
          }
        </ul>

        <!-- Recent tournaments (scrollable) -->
        @if (recentTournaments().length > 0) {
          <div class="flex flex-col justify-center items-center">
            <span
              class="icon-[material-symbols--history] my-1.5 inline-block size-4"
              style="width: 18px; height: 18px"
            ></span>
          </div>
          <div class="flex-1 overflow-y-auto" style="scrollbar-width: none">
            <ul class="menu w-full py-0">
              @for (tournament of recentTournaments(); track tournament.id) {
                <li class="my-0.5">
                  <button
                    class="relative is-drawer-close:tooltip is-drawer-close:tooltip-right h-10 rounded-xl hover:shadow-lg shadow-primary"
                    [attr.data-tip]="tournament.name"
                    (click)="clickedTournament(tournament)"
                  >
                    <img
                      [src]="getBackgroundStyle(tournament.game!, 'cover_big')"
                      class="absolute inset-0 w-full h-full object-cover object-center rounded-xl z-0 pointer-events-none"
                    />
                    <span class="z-10 is-drawer-close:hidden text-shadow-lg text-shadow-black">
                      {{ tournament.name }}
                    </span>
                  </button>
                </li>
              }
            </ul>
          </div>
        }

        <!-- Profile button -->
        <ul class="menu w-full shrink-0 mt-auto">
          @if (authService.user()) {
            <li>
              <button
                class="is-drawer-close:tooltip is-drawer-close:tooltip-right is-drawer-close:px-1.5 is-drawer-close:mx-auto"
                [attr.data-tip]="authService.user()!.name"
                routerLink="/profile"
                routerLinkActive="bg-primary text-primary-content"
              >
                <img
                  [src]="getAvatarPath(authService.user()?.avatarId)"
                  alt="sideBarPic"
                  class="rounded-full w-8 h-8 object-cover is-drawer-closed:w-max"
                />

                <div class="flex flex-col ml-2 justify-center">
                  <span class="is-drawer-close:hidden">
                    {{ authService.user()!.name }}
                  </span>
                  <span class="is-drawer-close:hidden text-xs font-mono truncate">
                    {{ authService.user()!.mail | slice: 0 : 22
                    }}{{ authService.user()!.mail.length > 22 ? '...' : '' }}
                  </span>
                </div>
              </button>
            </li>
          } @else {
            <li>
              <button
                class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
                data-tip="Login"
                routerLink="/auth/login"
              >
                <span class="icon-[material-symbols--login] my-1.5 inline-block size-4"></span>
                <span class="is-drawer-close:hidden">Loguearse</span>
              </button>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
