table {
  border: 2px solid #b0b0b0;
  height: 100%;
  width: calc(100%-10px);
  padding: 50px 5px 5px 5px;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 2px;
  text-align: center;
}
mat-card {
  margin: 2%;
}
button {
  margin: 2px;
}

th {
  background-color: rgb(41, 2, 110) !important;
  font-weight: 700;
  color: white;
}
.add-btn {
  margin: 16px;
  width: 15%;
  height: 5vh;
}
