<h1>Game Types CRUD</h1>
<div class="table_component" *ngIf="gameTypes.length">
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th *ngFor="let header of gameTypeKeys">
          {{ header }}
        </th>
        <th *ngIf="canEdit">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of gameTypes; let position = index">
        <td>{{ position + 1 }}</td>
        <td *ngFor="let column of gameTypeKeys">
          {{ row[column] }}
        </td>
        <td *ngIf="canEdit">
          <button (click)="edit(row)">Edit</button>
          <button (click)="delete(row)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="ExtraButtons">
    <button (click)="add()" class="addButton">Add</button>
  </div>
</div>

<app-game-type-modal
  *ngIf="showModal"
  [gameType]="gameTypeSelected"
  (EarlyLeaveModal)="closeModal()"
  (SavedGameType)="SaveGameType($event)"
/>
