<dialog #locationModal id="location_modal" class="modal" (close)="onDialogClose()">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{{ type() | i18nSelect: titleMap }}</h3>
    <form [formGroup]="locationForm">
      @if (type() === 'add' || type() === 'edit') {
        <div class="py-4">
          @if (type() === 'add') {
            <fieldset class="fieldset">
              <legend class="fieldset-legend">ID de la localidad</legend>
              <input
                type="number"
                class="input input-primary border-base-300 input-bordered"
                placeholder="Ingrese un número"
                formControlName="id"
              />

              <p class="label">Obligatorio</p>
            </fieldset>
          }
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Nombre de la localidad</legend>
            <input
              type="text"
              class="input input-primary border-base-300 input-bordered"
              placeholder="Ingrese el nombre de la localidad"
              formControlName="name"
            />
            <p class="label">Obligatorio</p>
          </fieldset>
        </div>
      } @else {
        <p>
          ¿Está seguro de que desea eliminar la localidad
          <strong>{{ locationForm.get('name')?.value }}</strong
          >?
        </p>
      }
      <div class="modal-action">
        <form method="dialog" class="flex gap-2">
          @if (type() === 'add' || type() === 'edit') {
            <button
              class="btn btn-primary"
              [disabled]="!locationForm.valid"
              (click)="emitLocation()"
            >
              Guardar cambios
            </button>
          } @else {
            <button class="btn btn-primary hover:btn-warning" (click)="emitLocation()">
              Borrar Localidad
            </button>
          }
          <button class="btn btn-ghost btn-error">Cancelar</button>
        </form>
      </div>
    </form>
  </div>
</dialog>
