<mat-card>
  <mat-card-header>
    <h1>Crear Torneo</h1>
    <h2>Ingrese los datos del torneo:</h2>
  </mat-card-header>
  <div>
    <form [formGroup]="creatingForm" class="form">
      <mat-form-field>
        <mat-label>Nombre del Torneo</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción del Torneo</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha del Torneo</mat-label>
        <input matInput formControlName="datetimeinit" type="datetime-local" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Juego</mat-label>
        <mat-select formControlName="game">
          <mat-option *ngFor="let game of gameList" [value]="game.id">{{
            game.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-select multiple formControlName="tags">
          <mat-option *ngFor="let tag of tagList" [value]="tag.id">{{
            tag.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!creatingForm.valid"
        (click)="createTournament()"
      >
        <mat-icon fontIcon="check"></mat-icon> Crear
      </button>
      <div *ngIf="isTournamentCreated" class="success-message">
        Torneo creado con éxito!
      </div>
    </form>
  </div>
</mat-card>
